In [1]:
import os
import seaborn as sns
import pandas as pd
import cv2
from imutils import paths
from tqdm import tqdm
import time
import numpy as np
import random
from os.path import exists
from datetime import datetime
from pathlib import Path
import sys
import tqdm

In [2]:
nks_mask_path = '/data/raw_forest/nks.tif'
nks = cv2.imread(nks_mask_path, cv2.IMREAD_UNCHANGED)

In [3]:
tp_mask_path = '/data/raw_forest/train_polygons.tif'
tp = cv2.imread(tp_mask_path, cv2.IMREAD_UNCHANGED)

In [19]:
def give_count_df(mask):
    unique, counts = np.unique(mask, return_counts=True)
    return pd.DataFrame({'class': unique, 'occurances': counts})

In [33]:
nks_cnts = give_count_df(nks)
tp_cnts = give_count_df(tp)

In [34]:
nks_cnts.drop([0], inplace=True)
nks_cnts['Share (%)'] = (nks_cnts.occurances / nks_cnts.occurances.sum())*100

In [46]:
nks_cnts[['class', 'Share (%)']].style \
                               .format('{:.2f}', subset=['Share (%)'])\
                               .format('{:.0f}', subset=['class'])\
                               .set_caption("nks")

In [36]:
nks_cnts['Share (%)'].sum()

100.0

In [38]:
tp_cnts.drop([0,12], inplace=True)
tp_cnts['Share (%)'] = (tp_cnts.occurances / tp_cnts.occurances.sum())*100

In [42]:
tp_cnts[['class', 'Share (%)']].style \
                               .format('{:.2f}', subset=['Share (%)'])\
                               .format('{:.0f}', subset=['class'])\
                               .set_caption("train_polygons")

In [44]:
tp_cnts['Share (%)'].sum()

99.99999999999999